body, html{
	padding:0;
	margin:0;
	font-family: 'roboto';
	box-sizing:border-box;
}
select{
	margin:30px;
}
option{
	width:100px;
}
.books{
	list-style: none;
}
.books .book{
	width:29%;
	background-color: #fff;
	float: left;
	margin: 0 20px 60px 20px;
	/*display: none;*/
}
.books .book .book_wrap{
	width:74.78%;
	overflow: hidden;
	margin:0 auto;
	padding: 45px 30px 0 30px;
}
.books .book:hover .book_wrap{
	transform: scale(1.05,1.05);
	 transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
}
.books .book .book_wrap img{
	width: 100%;
	height: 100%
	background-size: cover;
}
.books .book:hover{
	 box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	 transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
}
.books .book .buy{
	width:29%;
	height: 42px;
	background-color: #e0dae2;
	box-sizing: border-box;
	position: absolute;
	visibility: hidden;
	margin-top: -170px;
	display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
}
.books .book .buy .heart{
	width:29.5%;
	border-right: 1px solid #cecece;
	float:left;
	height: 42px;
	text-align: center;
}
.books .book:hover .buy{
	visibility: visible;
}
.books .book .buy .heart a i{
	width:19px;
	height: 18px;
	margin:0;
	padding: 0;
	padding-top:15px;
	color:#e74c3c;

}	
.books .book .buy .heart:hover{
	background-color:#e74c3c;
}
.books .book .buy .heart:hover i{
	color:#ffffff;
}
.books .book .buy .cart{
	width:70%;
	float:left;
	margin:0 auto;
	text-align: center;
	height: 42px;

} 

.books .book .buy .cart i{
	font-size: 18px;
	color:#e74c3c;
	float:left;
	margin:13px 0 13px 22%;
}
.books .book .buy .cart h3{
	margin:13px 0 0 15px;
	padding: 0;
	font-size: 14px;
	color:#e74c3c;
	font-weight: 500;
	width: 75%;
}
.books .book .buy .cart:hover{
	background-color:#e74c3c;
}
.books .book .buy .cart:hover i{
	color:#ffffff;
}
.books .book .buy .cart:hover h3{
	color:#ffffff;
}
.books .book img{
	margin-bottom: 30px;

}
.books .book a{
	text-decoration: none;
}
.books .book .book_text{
	margin: 0;
	padding: 0;
	text-align: center;
	padding-bottom: 30px;
}
.books .book h3{
	margin:0;
	font-size: 16px;
	color:#303030;
}
.books .book h3:hover{
	color:#e74c3c;
}
.books .sbook h4:hover{
	color:#e74c3c;
}
.books .book h2:hover{
	color:#e74c3c;
}
.books .book h4{
	margin:10px 0px 0px 0px;
	font-size: 14px;
	color:#76777b;
	font-weight: 400;
}
.books .book h2{
	margin:15px 0px 0px 0px;
	font-size: 15px;
	color:#303030;
	font-weight: 500;
}