body, html{
	padding:0;
	margin:0;
	font-family: 'roboto';
	box-sizing:border-box;
}
.menu{
	width:100%;
	padding: 15px 0px;
	background-color: #e9e9e9;
	margin:0;
	color:#606060;
	display:inline-block;
	box-sizing: border-box;
}
.menu .menu_wrap{
	margin: 0;
	padding: 0;
	float:right;
	box-sizing: border-box;
	padding-right: 6.25%;
}
.menu .menu_wrap .nav{
	list-style: none;
	margin: 0;
    
}
.menu .menu_wrap .nav li{
	float: left;
    position: relative;
	margin: 0 10px;
	padding: 0;
}
.menu .menu_wrap .nav li a{
    display: block;
    text-decoration: none;
    font-size: 14px;
	font-weight: 400;
	color: #606060;
	margin: 0;
	cursor: pointer;
	padding: 0 10px;
}
.menu .menu_wrap .nav a:hover {
    color: #e74c3c;
    background-color: #e9e9e9;
}
/*--- DROPDOWN ---*/
.menu .menu_wrap .nav ul {
	margin: 0;
	padding: 0;
    background-color: #e9e9e9; 
   	list-style: none;
    position: absolute;
    left: -9999px; 
    z-index: 10;
}
.menu .menu_wrap .nav ul li {
    float: none;
    margin: 0;
	padding-top: 20px;
}
.menu .menu_wrap .nav ul li:first-child{
	padding-top: 30px;
}
.menu .menu_wrap .nav ul li:last-child{
	padding-bottom: 15px;
}
.menu .menu_wrap .nav ul a {
    white-space: nowrap;

}
.menu .menu_wrap .nav ul a i{
	color:#828282;
	font-size: 15px;
}

.menu .menu_wrap .nav li:hover ul { 
    left: 0; 
}
.menu .menu_wrap .nav li:hover a { 
    background-color: #e9e9e9;
  } 
  .menu .menu_wrap .nav li a:hover i{
  	color: #e74c3c;
  }
.menu .menu_wrap .nav li:hover ul a { 
    text-decoration: none;
}
.menu .menu_wrap .nav li:hover ul li a:hover { 
    background-color: #e9e9e9;
}

.menu ul li:hover i{
	color:#e74c3c;
}
.menu ul img{
	color:#606060;
	width:19px;
	height:19px;
	padding-right: 7px;
	padding-left: 7px;
}
.menu ul i{
	color:#828282;
	font-size: 15px;
	padding:0 7px;
	float: left;
}
.menu .arrow{
	width:15px;
	height:13px;
}

.menu h3{
	font-size: 14px;
	font-weight: 400;
	color: #606060;
	margin: 0;
	cursor: pointer;
	float: left;
}
.menu h3:hover{
	color:#e74c3c;
} 
.menu ul li .coin{
	width: 17px;
	height: 16px;
}
.menu ul li select{
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	background-color: #e6e6e6;
	color: #606060;
	font-size: 14px;
	padding: 0 10px;
	font-family: 'roboto';
}
.menu ul li select option{
	padding: 10px 0;
}

.menu ul li select:hover {
	cursor: pointer;
	color:#e74c3c;
}

.main_menu{ 
	width:100%;
	background-color: #ffffff;
	height: 80px;
}
.main_menu_wrapper{
	width:90%;
	margin:0px auto;
	height: 80px;
}
.main_menu .logo{
	float:left;
	margin:0;
	width:;
}
.main_menu .logo a{
	width:150px;
	height:74px;
	margin:0;
	padding: 0;
	background:url("../images/knigoteka-logo.png");
	display: inline-block;
	background-size: 100%;
}
.main_menu .main_nav_wrap{
	float:right;

}
.main_menu .main_nav_wrap .main_nav{
	list-style: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
    z-index: 5;
    height: auto;

}
.main_menu .main_nav_wrap .main_nav li{
	float:left;
	margin: 0 10px;
	position: relative;
	padding: 0;
}
.main_menu .main_nav_wrap .main_nav li a{
	text-decoration: none;
	color:#606060;
	text-transform: uppercase;
	font-size: 16px;
	display: block;
	align-items:center;
	padding: 30px 20px;
}
.main_menu .main_nav_wrap .main_nav li:nth-child(6){
	margin-right: 60px;
}
.main_menu .main_nav_wrap .main_nav li a:hover{
	color:#e74c3c;
}
.main_menu .main_nav_wrap .main_nav li .content{
	background-color: #fff;
    list-style: none;
    position: absolute;
   	box-sizing: border-box;
    padding: 0;
    margin: 0;
    visibility: hidden;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	 transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
 }
.main_menu .main_nav_wrap .main_nav li .content li{
	padding: 0;
	float: none;
	margin:0;
	padding: 10px 0;
}
.main_menu .main_nav_wrap .main_nav li:first-child .content{
	width:850px;
	
}
.main_menu .main_nav_wrap .main_nav li:first-child .content li{
	width:200px;
	float: left;
	padding-left:20px;
	padding-right: 5px;
	padding-bottom: 10px;
	margin:0;

}
.main_menu .main_nav_wrap .main_nav li:first-child .content li .column_menu{
	list-style: none;
	height: auto;
	width:180px;
	padding:0;
	margin: 0;
}
.main_menu .main_nav_wrap .main_nav li:first-child .content li .column_menu li{
	padding:0;
	margin:0;
}
.main_menu .main_nav_wrap .main_nav li:first-child .content li .column_menu li a{
	padding:0;
	margin: 0;
	padding-bottom: 25px;
	
}
.main_menu .main_nav_wrap .main_nav li:first-child .content li .column_menu li:first-child a{
	padding-top:20px;
}
.main_menu .main_nav_wrap .main_nav li:first-child .content li:last-child{
	width:120px;
	padding-right: 0;
}
.main_menu .main_nav_wrap .main_nav li:first-child .content li:last-child .column_menu li{
	width:120px;
	padding-right: 0;
}
.main_menu .main_nav_wrap .main_nav li:nth-child(2) .content{
	width:180px;
}
.main_menu .main_nav_wrap .main_nav li:nth-child(2) .content li:first-child a{
	padding-top:20px;
}
.main_menu .main_nav_wrap .main_nav li:nth-child(2) .content li:last-child{
	padding-bottom: 25px
}
.main_menu .main_nav_wrap .main_nav .content li a{
	white-space: nowrap;
	font-size: 14px;
	text-transform: none;
}
.main_menu .main_nav_wrap .main_nav li:first-child .content li .column_menu a:hover{
	color:#e74c3c;
}
.main_menu .main_nav_wrap .main_nav li:hover .content{
	visibility: visible;
	padding: 0;
	margin:0;
}
.main_menu .main_nav_wrap .main_nav li:hover .content a{
	text-decoration: none;
	padding: 0 20px;
	margin: 0;
	
}
.main_menu .main_nav_wrap .main_nav li .content li .column_menu a{
	color:#303030;
}
.main_menu .main_nav_wrap .main_nav li:nth-child(2) a{
	color:#303030;
}
.main_menu .main_nav_wrap .main_nav li .content li .column_menu a{
	color:#303030;
}
.main_menu .main_nav_wrap .main_nav li:nth-child(2) a:hover{
	color:#e74c3c;
}
.main_menu .main_nav_wrap .main_nav li:hover .content li a:hover{
	background-color:#ffffff;
}
.main_menu .main_nav_wrap .main_nav li input{
	padding: 28px 0;
}
.main_menu .main_nav_wrap .main_nav li input .search{
	width:24px;
	height:24px;
	padding: 5px 0;
	position: absolute;
}
.main_menu .main_nav_wrap .main_nav li:first-child .content .column_menu li:hover a{
	color:#e74c3c;
}
.main_menu .main_nav_wrap .main_nav li input[type=text] {
  float:right;
  right: 0;
  width: 45px;
  padding: 0;
  box-sizing: border-box;
  border:none;
  border-radius: 4px;
  font-size: 15px;
  background-color: white;
  background-image: url("../images/icons/search.png");
  background-position: 10px 10px;
  background-size: 20px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  position: absolute;
  margin-top: 19px;
  cursor: pointer;
}
.main_menu .main_nav_wrap .main_nav li input[type=text]:focus {
  width: 350px;
  border: 1px solid #606060;
}
.parallax {
    /* The image used */
    background-image: url(../images/category.png);
    /*opacity:0.5;*/
    /* Full height */
     min-height: 300px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    padding-top:80px;
    box-sizing: border-box;
}

.parallax h2{
	text-align: center;
	margin:0;
	font-size: 28px;
	font-weight: 400;
	color:#e74c3c;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.bck_category{
	width: 100%;
	background-color: #e6e6e6;
	box-sizing: border-box;
}

.categories{
	width:18%;
	margin-left: 6%;
	padding-top: 50px;
	float:left;
	margin-bottom: 60px;
}
.categories ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.categories ul li{
	padding: 10px 0;
}
.categories ul li:first-child{
	text-transform: uppercase;
	margin-bottom: 10px;
}
.categories ul li:first-child a{
	font-size: 19px;
}
.categories ul a{
	text-decoration: none;
	color:#303030;
	font-size: 16px;
	font-weight: 400;
	cursor: pointer;
}
.categories ul li a:hover{
	color:#e74c3c;
}

.bck_category .books{
	width:72%;
	position: relative;
 	margin: auto;
	top: 60px;
	float:left;
	margin-bottom: 60px;
	
}
#naslov{
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	margin-left: 20px;
	color:#e74c3c;
	margin-bottom: 40px;
	z-index: 10;
}
.bottom{
	width:100%;
	 background-color: #e6e6e6;
	 height: 155px;
}
.bck_category .btns{
	float:right;
	margin-right: 7.5%;
	margin-bottom: 60px;
}
.bck_category .btns .btn{
  cursor: pointer;
  height: 35px;
  width: 35px;
  margin: 0 2px;
  background-color: #e6e6e6;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.6s ease;
  font-size: 18px;
  border-style: none;
  color:#606060;
  border:1px solid #606060;
}
.bck_category .btns .active, .btn:hover {
  background-color: #e74c3c;
  color:#fff;
   border:1px solid #e74c3c;
}
.books ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.books ul li{
	float:left;
	width:33%;
}
.books .book{
	background-color: #fff;
	margin: 0 20px 60px 20px;
}
.books .book .book_wrap{
	width:74.78%;
	overflow: hidden;
	margin:0 auto;
	padding: 45px 30px 0 30px;
}
.books .book:hover .book_wrap{
	transform: scale(1.05,1.05);
	 transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
}
.books .book .book_wrap img{
	width: 100%;
	height: 100%
	background-size: cover;
}
.books .book:hover{
	 box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	 transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
}
.books .book .buy{
	width:29%;
	height: 42px;
	background-color: #e0dae2;
	box-sizing: border-box;
	position: absolute;
	visibility: hidden;
	margin-top: -170px;
	display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
}
.books .book .buy .heart{
	width:29.5%;
	border-right: 1px solid #cecece;
	float:left;
	height: 42px;
	text-align: center;
}
.books .book:hover .buy{
	visibility: visible;
}
.books .book .buy .heart a i{
	width:19px;
	height: 18px;
	margin:0;
	padding: 0;
	padding-top:15px;
	color:#e74c3c;

}	
.books .book .buy .heart:hover{
	background-color:#e74c3c;
}
.books .book .buy .heart:hover i{
	color:#ffffff;
}
.books .book .buy .cart{
	width:70%;
	float:left;
	margin:0 auto;
	text-align: center;
	height: 42px;

} 

.books .book .buy .cart i{
	font-size: 18px;
	color:#e74c3c;
	float:left;
	margin:13px 0 13px 22%;
}
.books .book .buy .cart h3{
	margin:13px 0 0 15px;
	padding: 0;
	font-size: 14px;
	color:#e74c3c;
	font-weight: 500;
	width: 75%;
}
.books .book .buy .cart:hover{
	background-color:#e74c3c;
}
.books .book .buy .cart:hover i{
	color:#ffffff;
}
.books .book .buy .cart:hover h3{
	color:#ffffff;
}
.books .book img{
	margin-bottom: 30px;

}
.books .book a{
	text-decoration: none;
}
.books .book .book_text{
	margin: 0;
	padding: 0;
	text-align: center;
	padding-bottom: 30px;
}
.books .book h3{
	margin:0;
	font-size: 16px;
	color:#303030;
}
.books .book h3:hover{
	color:#e74c3c;
}
.books .sbook h4:hover{
	color:#e74c3c;
}
.books .book h2:hover{
	color:#e74c3c;
}
.books .book h4{
	margin:10px 0px 0px 0px;
	font-size: 14px;
	color:#76777b;
	font-weight: 400;
}
.books .book h2{
	margin:15px 0px 0px 0px;
	font-size: 15px;
	color:#303030;
	font-weight: 500;
}
.cleaner{
	clear: both;
}
/*footer*/
.footer{
	width:100%;
	height: 400px;
	background-color: #585857;
	position: relative;
}
.footer .column{
	width:25%;
	float: left;
}
.footer .column .first_column{
	list-style: none;
	color: #ffffff;
}
.footer .column .first_column .logo{
	background-image: url("../images/knigoteka-belo-logo.png");
	width:150px;
	margin:0 0 20px 0;
	height: 75px;
	background-size: 100%;
}
.footer .column_wrap{
	width:89%;
	margin: 0 auto;
}
.footer .column_wrap .column .first li p{
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 40px;
}
.footer .column_wrap .column .first_column li a{
	text-decoration: none;
	color: #ffffff;
}
.footer .column_wrap .column .first_column li h2{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 1px;
}

.footer .column_wrap .column .first_column .social{
	list-style: none;
	padding: 0;
	margin: 0;
}
.footer .column_wrap .column .second{
	margin-left: 30px;
}
.footer .column_wrap .column .third{

	margin-left: 30px;
}
.footer .column_wrap .column .second li h2{
	margin:50px 0 0 0;
}
.footer .column_wrap .column .third li h2{
	margin:50px 0 0 0;
}
.footer .column_wrap .column .fourth li h2{
	margin:50px 0 0 0;
}
.footer .column_wrap .column .first_column .social li{
	float:left;
	width:40px;
	height: 40px;
	border-radius: 50%;
	background-color: #ffffff;
	margin-right: 12px;
	box-sizing: border-box;
	text-align: center;
	padding-top:8px;
}
.footer .column_wrap .column .first_column .social li:hover{
	transform: scale(1.15, 1.15);
	transition: all 0.5s ease-in-out;
}
.footer .column_wrap .column .first_column .social a li i{
	color: #e74c3c;
	font-size: 24px;
	text-align: center;
}
.footer .column_wrap .column .first li hr{
	width:70px;
	border:1px solid #e74c3c;
	margin-bottom: 20px;
	margin-left: 13px;
}
.footer .column_wrap .column .second li hr{
	width:70px;
	border:1px solid #e74c3c;
	margin-bottom: 30px;
	margin-left: 25px;
}
.footer .column_wrap .column .third li hr{
	width:70px;
	border:1px solid #e74c3c;
	margin-bottom: 30px;
	margin-left: 18px;
}
.footer .column_wrap .column .fourth li hr{
	width:70px;
	border:1px solid #e74c3c;
	margin-bottom: 30px;
	margin-left: 0px;
}
.footer .column_wrap .column .second li{
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 300;
	margin: 10px 0;
}
.footer .column_wrap .column .first_column li a:hover{
	color: #e74c3c;
}
.footer .column_wrap .column .third li{
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 300;
	margin: 10px 0;
}
.footer .column_wrap .column .fourth li{
	font-size: 15px;
	font-weight: 300;
	margin: 10px 0;
}
.footer .column_wrap .column .fourth ul{
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
}
.footer .column_wrap .column .fourth ul li{
	margin:4px 0;
}
.footer .column_wrap .column .fourth ul li:first-child{
	font-weight: 400;
}
.footer .column_wrap .column .fourth ul li a{
	text-decoration: none;
}
.footer .column_wrap .column .fourth ul li a:hover{
	color: #e74c3c;
}
.footer .email_wrap{
	width:40%;
	bottom: 50px;
	left:33%;
	position: absolute;
}
.footer .email_wrap input{
	border-radius: 5px 0 0 5px;
	margin:auto;
	border:none;
	width:240px;
	height: 30px;
}
.footer .email_wrap input::placeholder{
	color: #606060;
	padding-left: 10px;
	font-size: 14px;
}

.footer .email_wrap button{
	border-radius: 0 5px 5px 0;
    margin-left: -4px;
    border: none;
    width: 100px;
    height: 32px;
    background-color: #fbcd6a;
    color: #303030;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    /*top: 1px;*/
}
.copyright{
	width: 100%;
	height: 60px;
	background-color: #76777b;
	text-align: center;
	box-sizing: border-box;
}
.copyright h3{
	margin: 0;
	font-size: 15px;
	color:#ffffff;
	font-weight: 400;
	padding: 20px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  width:20px;
  height: 20px;
  border:none;
  background-color:transparent;
  cursor: pointer;
 }
#myBtn i{
	font-size: 35px;
	color:#606060;
}
#myBtn:hover i{
  color: #e74c3c;
}